* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background:
        radial-gradient(circle at top right, #6fffe9 0%, transparent 45%),
        radial-gradient(circle at bottom left, #4ade80 0%, transparent 50%),
        linear-gradient(135deg, #043c3f, #0f766e);
    color: #064e3b;
}

/* Navbar */
.navbar {
    padding: 18px 28px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(14px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.brand-icon {
    width: 388px;
    
}

.brand-name {
    font-size: 22px;
    font-weight: 800;
    background: linear-gradient(90deg, #34ffd2, #4cc790);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Welcome */
.welcome {
    text-align: center;
    margin: 35px 20px 30px;
    color: #ecfdf5;
}

.welcome h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.welcome p {
    font-size: 15px;
}

/* Actions */
.actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
    padding: 0 28px 40px;
}

/* Cards */
.action-card {
    background: rgba(255, 255, 255, 0.92);
    border-radius: 22px;
    padding: 32px 26px;
    text-align: center;
    cursor: pointer;
    transition: 0.35s;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    font-size: 36px;
}

.action-card:hover {
    transform: translateY(-8px);
}

.action-card h4 {
    margin-top: 14px;
    font-size: 19px;
}

.action-card p {
    font-size: 13px;
    margin-top: 6px;
    color: #065f46;
}

.violet {
    border-top: 6px solid #8b5cf6;
}

.green {
    border-top: 6px solid #22c55e;
}

/* Emergency Section */
.emergency {
    margin: 0 28px 40px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 22px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.emergency h3 {
    font-size: 22px;
}

.emergency p {
    font-size: 14px;
    margin-top: 8px;
}

/* Button (moved slightly down) */
.emergency .btn {
    margin-top: 18px;
}

/* Button style */
.btn {
    padding: 12px 28px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.btn-dark {
    background: linear-gradient(135deg, #064e3b, #0f766e);
    color: white;
    
}
.hospital{
    padding-top:20px;
}
